﻿@model LoginViewModel
@{
    this.SetSiteMetadata(new SiteMetadata {
        Title = "Login",
        MainStyle = "site-login-index",
        ShowNavigationElements = false,
        Layout = LayoutType.SingleLayout
    });
    string returnUrl = this.Context.Request[ReturnUrlHelper.Name];
}
@section meta_head {
    <meta @Html.RenderMainScript(AMD.Site.Login.INDEX) 
          @Html.ObjectAsDataAttribute(Model, HtmlDataIds.MainViewModel) />
}
<div class="login-container">
    <span class="welcome-text">Login</span>
    <div class="content-container">
        <form class="content" method="post" 
            action="@Url.Action(MVC.Login.Index().AddRouteValue(ReturnUrlHelper.Name, returnUrl))" 
            data-bind="submit: onFormSubmit">
            @Html.PostValidationSummary("Could not login!")
            <div class="form-input">
                @Html.LabelFor(m => m.Username, "Username:")
                @Html.TextBoxFor(m => m.Username, new { 
                    @class = "text", 
                    placeholder = "Username",
                    data_bind = "textInput: userName"
                })
            </div>
            <div class="form-input">
                @Html.LabelFor(m => m.Password, "Password:")
                @Html.PasswordFor(m => m.Password, new { 
                    @class = "text", 
                    placeholder = "Password",
                    data_bind = "textInput: password"
                })
            </div>
            <div class="login-remember">
                @Html.CheckBoxFor(m => m.IsStayLoggedIn, new {
                    data_bind = "checked: isStayLoggedIn"
                })
                @Html.LabelFor(m => m.IsStayLoggedIn, "Remember me", new { @class = "cursor-pointer" })
            </div>
            <input type="submit" value="Login" data-bind="enable: canLogin" />
        </form>
    </div>
    <div class="curve"></div>
</div>
