﻿@model UserDropdownViewModel
<div id="user-dropdown" class="user-mini-icon" data-ns-enhanced 
    data-template="user-tooltip" data-tippy-trigger="click"
    data-tippy-theme="light-border oa-dropdown" data-tippy-interactive="true" 
    data-tippy-distance="5" data-tippy-arrow="true">
    @Html.RenderUserRandomColor(
        Model.Username,
        ".user-mini-icon .user-initials", 
        ".user-mini-icon:hover .user-initials, .user-mini-icon.clicked .user-initials")
    <button class="user-initials">@(Model.Initials)</button>
    <span class="chevron"></span>
    <template id="user-tooltip">
        <ul>
            <li class="dropdown-item user-identity">
                <span class="name">@(Model.DisplayName)</span>
                <span class="email">@(Model.EmailAddress)</span>
                <span class="roles">
                    <span class="label">Role(s):</span> @Model.FirstRoleName
                    @if (Model.HasMoreThanOneRole) {
                        <a href="#">(+ @Model.AdditionalRoleCount more)</a>
                    }
                </span>
            </li>
            <li><hr /></li>
            <li class="dropdown-item link">
                <a href="@Url.Action(MVC.Logout.Index())" class="logout-link">Logout</a>
            </li>
        </ul>
    </template>
</div>
