﻿@model UserDropdownViewModel
<div class="user-mini-icon">
    <ul>
        <li class="user-identity name" title="@Model.EmailAddress">@(Model.DisplayName)</li>
        <li class="separator"></li>
        <li>
            <span class="label">Role(s):</span> @Model.FirstRoleName
            @if (Model.HasMoreThanOneRole) {
                <a href="#" class="additional-roles">(+ @Model.AdditionalRoleCount more)</a>
            }
        </li>
        <li class="separator"></li>
        <li>
            <a href="@Url.Action(MVC.Logout.Index())" class="logout-link">Logout</a>
        </li>
    </ul>
</div>
