@import (reference) "../../Vendor/FontAwesome/fontawesome.less";
@import (reference) "../../Vendor/FontAwesome/solid.less";
@import (reference) "../_Branding.less";
@import (reference) "../_Controls.less";

.site-login-index {
    .login-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 35px 1fr;
        grid-template-areas: 
            'text'
            'content'
            'curve';
        padding: 1.5em;

        .welcome-text {
            grid-area: text;
            display: grid;
            align-items: end;
            padding: 5px 10px;
            background: @ucpb-dark-logo-color;
            color: @default-white;
            font-size: 1.2em;
            font-weight: 600;
            border-top-right-radius: 12px;
        }

        .content-color-borders() {
            border: 1px solid darken(@default-white-dark, 15%);
            background: darken(@ucpb-light-logo-color, 2.5%);
        }

        .content-container {
            grid-area: content;
            display: grid;
            justify-items: center;
            align-items: center;
            min-width: 380px;
            min-height: 300px;
            padding: 5px 15px;
            margin-top: 10px;
            color: @default-white;
            .content-color-borders;

            .content {
                display: grid;
                grid-template-rows: auto;
                grid-row-gap: 7.5px;
                justify-items: center;
                align-items: center;
                width: 100%;
                padding: 10px;
                
                .validation-summary {
                    .base-properties() {    
                        margin-bottom: 10px;
                    }

                    &-valid {
                        .base-properties;
                    }

                    &-errors {
                        .base-properties;
                        .alert;
                        .alert-warning;
                        max-width: 350px;
                    }
                }

                .form-input {
                    display: grid;
                    grid-template-columns: 30% 1fr;
                    align-items: center;
                    width: 100%;

                    label {
                        font-size: 0.85em;
                        font-weight: 600;
                    }
    
                    input[type="text"],
                    input[type="password"] {
                        width: 100%;
                        box-sizing: border-box;
                    }
                }

                .login-remember {
                    display: grid;
                    grid-auto-flow: column dense;
                    align-items: center;
                    justify-self: end;
                    font-size: 0.8em;
                    margin-top: 5px;
                }

                input[type="submit"] {
                    .default-button;
                    justify-self: end;
                }
            }
        }
        
        .curve {
            grid-area: curve;
            justify-self: right;
            width: 30px;
            height: 30px;
            border-top: none;
            border-radius: 25px 0;
            clip-path: inset(4px 0px 0px 0px);
            margin-top: -5.5px;
            .content-color-borders;
        }
    }
}
