@import (reference) "../_Branding.less";

.tippy-tooltip.oa-dropdown-theme {
    padding: 5px 7.5px;
    box-shadow: 0 0 7.5px fade(@default-black, 50%);
    border-color: fade(darken(@ucpb-light-logo-color, 25%), 45%);

    .tippy-content {
        ul {
            font-size: 0.9em;
            min-width: 200px;
            margin: 3.5px 0;
            padding: 0;
            text-align: left;
            list-style: none;
            word-break: break-all;

            li {
                width: 100%;
                margin: 2.5px 0;
                padding: 0 5px;
                box-sizing: border-box;

                &.dropdown-item {
                    padding: 5px 7.5px;

                    &.link {
                        padding: 0 5px;

                        a {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            padding: 5px;
                            box-sizing: border-box;
                            border-radius: 4px;
                            color: @default-black;
                            text-decoration: none;
                            outline: none;
                            user-select: none;
                            transition: all 0.15s ease-in-out;
                            transition-property: background, color, padding;

                            &:hover {
                                @dropdown-bg: darken(#FFF, 7.5%);
                                padding: 5px 10px;
        
                                cursor: pointer;
                                background: fade(@ucpb-dark-logo-color, 85%);
                                color: @dropdown-bg;
            
                                * {
                                    color: @dropdown-bg;
                                }
                            }
    
                            &:active {
                                transform: scale(0.99, 0.99);
                            }
                        }
                    }
                }
            }

            .user-identity {
                display: grid;
                grid-auto-flow: row dense;
                grid-row-gap: 2.5px;

                .name {
                    font-size: 1.15em;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .email {
                    font-style: italic;
                }

                .roles {
                    margin-top: 2.5px;

                    .label {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
