﻿@{
    var siteMetadata = this.GetSiteMetadata();
    string additionalLessThemes = siteMetadata.Layout == LayoutType.SingleLayout ? "site-style-single" : null;
    bool showNavElements = siteMetadata.ShowNavigationElements && this.User.Identity.IsAuthenticated;
}
<!DOCTYPE html>
<html class="@(additionalLessThemes) @siteMetadata.MainStyle" lang="en">
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=1280" />
        <meta name="description" content="One Accomplishment" />
        @RenderSection("meta_head", false)
        <title>@siteMetadata.Title - One Accomplishment</title>
        <link rel="icon" href="@Links.SiteContent.favicon_ico" />
        @AsyncBundles.RenderStyleNoscript(Bundles.Vendor.Styles)
        @AsyncBundles.RenderStyleAsync(Bundles.Vendor.Styles)
        @AsyncBundles.RenderScriptAsync(Bundles.Core.Scripts)
        @Styles.Render(Bundles.Site.Styles)
        @AsyncBundles.RenderStyleNoscript(Bundles.Site.FallbackStyles)
    </head>
    <body>
        <header>
            <div class="main-area">
                <a class="header-link" href="@Url.Action(MVC.Default.Index())">
                    <img class="header-logo" src="@Links.SiteContent.Images.Logo_BW_png" alt="Logo" />
                    <span class="header-text">One Accomplishment</span>
                </a>
                <div class="header-menu">
                    <div class="activity-area"></div>
                    <div class="links-area">
                        <a class="about" href="#">What is this?</a>
                        <a class="contact" href="#">Contact Me</a>
                        <a class="licenses" href="#">OSS</a>
                        @if (showNavElements) {
                            Html.RenderAction(MVC.SharedUserDropdown.Normal());
                        }
                    </div>
                </div>
            </div>
            @if (showNavElements) {
            <div class="fallback-area" data-ns-fallback>
                @{ Html.RenderAction(MVC.SharedUserDropdown.Fallback()); }
            </div>
            }
        </header>
        <div class="body-container">
            @if (showNavElements) { 
            <nav class="nav-menu" role="menu">
                <div class="menu-items">
                    @RenderSection("nav_items", false)
                    @{
                        Html.RenderPartial(MVC.Shared.Views.Controls._HomeMenu);
                        Html.RenderAction(MVC.SharedNavItems.AdministrationMenu());
                    }
                </div>
                <div class="collapse-area">
                    <button><span>Collapse Sidebar</span></button>
                </div>
            </nav>
            }
            <div class="content-wrapper">
                <section class="content" role="main">
                    @RenderBody()
                </section>
                <footer>
                    <small class="version">
                        One Accomplishment @this.RenderAssemblyVersion(typeof(MvcApplication))
                    </small>
                    <small class="copyright">Copyright &copy; @this.RenderCopyright() ITDCAT</small>
                </footer>
            </div>
        </div>
    </body>
</html>
