﻿@import (reference) "../_Branding.less";

.alert() {
    width: 100%;
    border: 1px solid @default-black;
    border-radius: 4px;
    background: @default-white;
    color: @default-black;
    padding: 10px;
    box-sizing: border-box;
}

.alert-warning() {
    background: @alert-warning-bg;
    border-color: @alert-warning-border;
    color: @alert-warning-text;
}
