﻿@import (reference) "../_Branding.less";

.button-faded-bg(@color) {
    background: fade(@color, 85%);
}

.button-press-soft() {
    transform: scale(0.99, 0.99);
}

.button-press-hard() {
    transform: scale(0.98, 0.98);
}

.default-button() {
    cursor: pointer;
    padding: 0.75em;
    border: 1px solid @default-white-dark;
    outline: none;
    color: @default-white;
    font-weight: 600;
    min-width: 75px;
    box-shadow: 0 1px 1px #555;
    transition: background 0.25s ease-in-out;
    .button-faded-bg(lighten(@ucpb-dark-logo-color, 10%));

    &:hover {
        .button-faded-bg(lighten(@ucpb-dark-logo-color, 30%));
    }

    &:active {
        .button-faded-bg(lighten(@ucpb-dark-logo-color, 35%));
        .button-press-hard;
    }

    &:disabled {
        opacity: 0.65;
        pointer-events: none;
        box-shadow: unset;
        .button-faded-bg(lighten(@ucpb-dark-logo-color, 45%));
    }
}

.critical-button() {
    background: @btn-danger-bg;

    &:hover {
        .button-faded-bg(saturate(@btn-danger-bg, 10%));
    }

    &:active {
        .button-faded-bg(saturate(@btn-danger-bg, 20%));
    }

    &:disabled {
        .button-faded-bg(@btn-danger-bg);
    }
}