﻿@import (reference) "../_Branding.less";

.default-validation-summary() {
    span {
        font-size: 0.8em;
        font-weight: bold;
    }

    ul {
        font-size: 0.8em;
        padding: 0.25em 2em;
        margin: 0;
        margin-top: 0.25em;
    }
}
