﻿@import (reference) "../Vendor/bootstrap-vars.less";

@ucpb-light-logo-color: rgb(0, 173, 239);
@ucpb-dark-logo-color: rgb(28, 19, 75);
@default-white: #EEE;
@default-white-dark: darken(@default-white, 5%);
@default-black: #333;
@default-font: 'Raleway';
