﻿@import (reference) "../Vendor/FontAwesome/fontawesome.less";
@import (reference) "../Vendor/FontAwesome/solid.less";
@import (reference) "_Branding.less";
@import "_Controls.less";

* {
    font-family: @default-font, monospace;
}

html, body {
    padding: 0;
    margin: 0;
    min-width: 640px;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
}

header {
    display: grid;
    grid-auto-flow: row dense;
    align-items: center;
    background: @ucpb-light-logo-color;
    color: @default-white;

    .main-area {
        height: 48.5px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        .header-link {
            display: grid;
            grid-auto-flow: column dense;
            grid-column-gap: 7.5px;
            align-items: center;
            width: fit-content;
            padding: 0 10px 0 10px;
            text-decoration: none;
            
            .header-logo {
                width: 36px;
                height: auto;
                opacity: 0.95;
            }
        
            .header-text {
                font-size: 1.25em;
                font-style: italic;
                font-weight: 700;
                color: @default-white;
                margin: 0;
                white-space: nowrap;
            }
        }

        .header-menu {
            display: grid;
            grid-template-columns: 1fr auto;
            justify-items: end;
            align-items: center;
            padding-right: 10px;
    
            .activity-area {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 10px;
                box-sizing: border-box;
            }
    
            .links-area {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: fit-content;
                white-space: nowrap;
    
                & > * {
                    margin: 0 2.5px;
                }
    
                .hoverable-transition(@easing) {
                    transition: background 0.25s @easing;
                }
    
                .hoverable() {
                    border: 1px solid transparent;
                    border-radius: 4px;
                    .hoverable-transition(ease-out);
    
                    &:active {
                        .button-press-soft;
                    }
                }
    
                .hoverable-active() {
                    background: fade(@ucpb-dark-logo-color, 20%);
                    .hoverable-transition(ease-in);
                }
    
                a {
                    font-size: 0.9em;
                    font-weight: 600;
                    color: @default-white;
                    text-decoration: none;
                    padding: 10px 7.5px;
                    .hoverable;
    
                    &:hover {
                        .hoverable-active;
                        text-decoration: underline;
                    }
                }
    
                .about {
                    .link-with-icon(@fa-var-question-circle);
                }
    
                .contact {
                    .link-with-icon(@fa-var-at);
                }
    
                .licenses {
                    .link-with-icon(@fa-var-code);
                }
    
                .user-mini-icon {
                    cursor: pointer;
                    display: grid;
                    grid-auto-flow: column dense;
                    grid-column-gap: 3.5px;
                    align-items: center;
                    padding: 2.5px 7.5px;
                    user-select: none;
                    outline: none;
                    .hoverable;
    
                    &:hover,
                    &.clicked {
                        .hoverable-active;
                        
                        .user-initials {
                            background: lighten(@ucpb-dark-logo-color, 20%);
                            border-color: @default-white-dark;
                            .hoverable-transition(ease-in);
                        }
                        
                        .chevron {
                            color: @default-white-dark;
                        }
                    }
    
                    &.clicked {
                        background: fade(darken(@ucpb-dark-logo-color, 10%), 25%);
                        border: 1px solid fade(@default-white, 80%);
                        .button-press-hard;
                    }
    
                    .user-initials {
                        cursor: pointer;
                        font-weight: 600;
                        background: @ucpb-dark-logo-color;
                        color: @default-white;
                        border: 1px solid @default-white-dark;
                        border-radius: 50%;
                        min-width: 1px;
                        width: 34px;
                        height: 34px;
                        padding: 5px;
                        outline: none;
                        pointer-events: none;
                        .hoverable-transition(ease-out);
                    }
    
                    .chevron {
                        font-size: 0.8em;
                        transform: scale(0.85, 0.90);
                        .fa-icon;
                        .fas;
    
                        &:before {
                            content: @fa-var-chevron-down;
                        }
                    }
                }
            }
        }
    }
}

.body-container {
    display: grid;
    grid-template-columns: auto 1fr;
    background: @default-white;
    overflow: hidden;

    .nav-menu {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 200px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        border-right: 1px solid darken(@default-white-dark, 10%);
        background: @default-white-dark;
        color: @default-black;
        transition: width 0.5s ease-in-out;

        .menu-items {
            padding: 5px 0;
            box-sizing: border-box;
            overflow: auto;
            // Note:
            // See _Controls/Shared/_NavItems.less for the styling of nav items
        }

        .collapse-area {
            @bg-color: darken(@default-white-dark, 10%);
            background: @bg-color;

            button {
                cursor: pointer;
                width: 100%;
                padding: 7.5px;
                font-size: 0.8em;
                border: none;
                border-top: 1px solid @bg-color;
                outline: none;
                background: @default-white-dark;
                text-align: left;
                transition: background 0.15s ease-out;

                &:hover {
                    background: @bg-color;
                    transition: background 0.15s ease-in;
                }

                &:active {
                    .button-press-hard;
                }

                span:before {
                    font-size: 1.2em;
                    padding-right: 7.5px;
                    opacity: 0.8;
                    .fa-icon;
                    .fas;
                    content: @fa-var-chevron-double-left;
                }
            }
        }
    }

    .content-wrapper {
        display: grid;
        grid-template-rows: 1fr auto;
        overflow: auto;

        .content {
            padding: 10px;
        }

        footer {
            display: grid;
            grid-auto-flow: column dense;
            align-items: center;
            background: @ucpb-dark-logo-color;
            color: @default-white;
            padding: 5px;
            opacity: 0.95;
            user-select: none;
        
            small {
                font-size: 0.75em;
                letter-spacing: 0.5px;
                padding: 0 5px;
            }
        
            .version {
                font-style: italic;
            }
        
            .copyright {
                justify-self: end;
            }
        }
    }
}
