@import (reference) "../_Buttons.less";
@import (reference) "../_Links.less";
@import (reference) "../../_Branding.less";

@nav-items-class: ~".nav-items";

.nav-heading-icon(@nav-item-name, @icon) {
    &.@{nav-item-name} {
        .heading {
            .link-with-icon-ex(@icon, 0, initial);
        }
    }
}

@{nav-items-class} {
    margin: 2.5px 0;
    padding: 0;
    list-style: none;
    white-space: nowrap; // should only be applied if animating

    li {
        .transition() {
            transition: background 0.15s ease-in-out;
        }

        .on-hover() {
            &:hover {
                background: darken(@default-white-dark, 7.5%);
                .transition;
            }
        }

        .transition;
        .on-hover;

        .item {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 10px 12.5px;
            box-sizing: border-box;
            text-decoration: none;
            font-size: 0.95em;
            font-weight: 500;
            color: @ucpb-dark-logo-color;
            .transition;

            &:before {
                content: '';
                display: inline-block;
                width: 27.5px;
            }
            
            .on-hover;
            &:active {
                .button-press-soft;
            }
            
            &.sub-heading {
                padding-top: 7.5px;
                padding-bottom: 7.5px;
                font-size: 0.875em;
                font-weight: normal;
            }
        }
    }
}
