﻿@import (reference) "../Vendor/FontAwesome/fontawesome.less";
@import (reference) "../Vendor/FontAwesome/solid.less";
@import (reference) "../Styles/_Controls.less";

header {
    .main-area {
        height: 45px;
    }

    .fallback-area {
        padding: 2.5px 12.5px;
        background: darken(@ucpb-light-logo-color, 7.5%);

        .user-mini-icon {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 0.9em;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: inline;
                    margin: 0 2.5px;
                }
            }

            .separator:before {
                content: '|';
                font-weight: 600;
            }

            .user-identity {
                &.name {
                    cursor: help;
                    font-weight: 600;
                    text-transform: uppercase;
                    border-bottom: 1px dotted @default-white;
                }
            }

            .additional-roles {
                text-decoration: underline;
            }

            .label {
                font-weight: 600;
            }

            a {
                display: inline-block;
                padding: 5px 7.5px;
                border-radius: 4px;
                color: @default-white;
                text-decoration: none;
                transition: background 0.25s ease-out;

                &:hover {
                    background: fade(@ucpb-dark-logo-color, 25%);
                    text-decoration: underline;
                    transition: background 0.25s ease-in;
                }

                &:active {
                    .button-press-soft;
                }
            }
        }
    }
}
